{"filter":false,"title":".gitignore","tooltip":"/hello_app/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":63},"end":{"row":4,"column":63},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":11,"state":"start","mode":"ace/mode/ini"}},"timestamp":1577612561831,"hash":"ec03a8e3c6f9e342af8a47e3e2510d28fad5d849"}