{"filter":false,"title":".gitignore","tooltip":"/hello_app/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":18,"column":0},"end":{"row":18,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1580201638215,"hash":"ec03a8e3c6f9e342af8a47e3e2510d28fad5d849"}